p{
	font-size: 18px; font-weight: bold;
	margin-bottom: 20px;
}
body{
	background-color: #EDF2F8;
}
.container{
	margin-top: 150px;
	font-family: "Manrope", sans-serif;
	margin-right: 40px;


}
.col-md-4{
	background-color: #FFFFFF;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;

}
.text{
	margin-top: 20px;
	margin-left: 20px;

}

.col-md-3{
	max-height:  200px;
}
.name{
	font-weight: bold;
	margin-bottom: 15px;
	
}